.body{
    background-image: linear-gradient(to right, pink, purple);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
   
    text-align: center;
    font-style: italic;
}

.navigation-bar{
    display:flex;
    flex-direction: row-reverse;
    background-image: linear-gradient(to right, pink, purple);
}

.navigation-bar > div{
    background-color: none;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

.navigation-link{
  color: black;
}

.contact-link{
  color: black;
}

.center{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  display:flex;
  justify-content: space-around;
  align-content: flex-end;
  
}

.header{
  text-align: center;
}

.paragraph{
  text-align: justify;
  font-size: 20px;
  
}

.resumepdf{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid purple;
}

img{
  float: left
}
