.body{
    background-image: linear-gradient(to right, pink, purple);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
   
    text-align: center;
    font-style: italic;
}

.flex-container{
    display:flex;
    background-image: linear-gradient(to right, pink, purple);
}

.flex-container > div{
    background-color: pink;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.button1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: pink;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1:hover {
    background-color: pink;
    color: white;
  }

.button2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: pink;
  border: none;
  color:black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2:hover {
    background-color: pink;
    color: white;
  }