.body{
    background-image: linear-gradient(to right, pink, purple);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
   
    text-align: center;
    font-style: italic;
}

.intro{
  text-align: center;
  font-size: 15px;
}

.navigation-bar{
    display:flex;
    flex-direction: row-reverse;
    background-image: linear-gradient(to right, pink, purple);
}

.navigation-bar > div{
    background-color: none;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

.navigation-link{
  color: black;
  text-decoration: none;
}

.navigation-link:hover{
  text-decoration: underline;
  color:gray;
}

.contact-link{
  color: black;
  text-decoration: none;
  
}

.contact-link:hover{
  text-decoration: underline;
  color:gray;
}

.center{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  display:flex;
  justify-content: space-around;
  align-content: center;
  
}

.header{
  text-align: center;
}

.paragraph{
  text-align: justify;
  font-size: 20px;
}

.resumepdf{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid purple;
}

.img{
  float: left;
  margin-right: 30px;
}

.aparagraph{
  text-align: justify;
  margin-right: 30px;
  font-size: 20px;
  padding-left: 20px;
  padding: auto;
  padding-top: 30px;
}

.icons{
  width: 10%;
  align-content: center;
  margin-left: 15px;
}

.links{
  display: inline;
}

.school{
  float:right;
  margin-left: 30px;
}

.bparagraph{
  text-align: justify;
  margin-top: 50px;
  font-size: 20px;
}

#header-stuff{
  margin-bottom: 100px;
}

.cparagraph{
  text-align: justify;
  margin-top: 125px;
  font-size: 20px;
}